<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>banner_image</key>
	<string>https://drive.google.com/uc?export=download&amp;id=0B-ajzdpY-rUGdWszOVY2R1hYMTQ</string>
	<key>profile_image</key>
	<string>https://drive.google.com/uc?export=download&amp;id=0B-ajzdpY-rUGZEJKV2RQbzVYWXc</string>
	<key>user_name</key>
	<string>CHRISTOPHER</string>
	<key>characteristics</key>
	<string>Photography, Developer, Traveler</string>
	<key>website_url</key>
	<string>http://salemount.com</string>
	<key>user_timeline_info</key>
	<array>
		<dict>
			<key>specified_string</key>
			<string>#10 Travelers</string>
			<key>duration</key>
			<string>JAN.10.2016 - FEB.22.2016</string>
			<key>image_url</key>
			<string>https://drive.google.com/uc?export=download&amp;id=0B-ajzdpY-rUGYjlHRlZEQmotd0k</string>
			<key>title</key>
			<string>Trip to Spain</string>
		</dict>
		<dict>
			<key>specified_string</key>
			<string>#Live</string>
			<key>duration</key>
			<string>DEC.10.2015 - DEC.22.2016</string>
			<key>image_url</key>
			<string>https://drive.google.com/uc?export=download&amp;id=0B-ajzdpY-rUGQ29zcnJkRVlVS2s</string>
			<key>title</key>
			<string>Amazing Europe</string>
		</dict>
		<dict>
			<key>specified_string</key>
			<string>#Honor</string>
			<key>duration</key>
			<string>DEC.10.2015 - FEB.22.2016</string>
			<key>image_url</key>
			<string>https://drive.google.com/uc?export=download&amp;id=0B-ajzdpY-rUGU3JPdl8wSFpvaGM</string>
			<key>title</key>
			<string>USA </string>
		</dict>
		<dict>
			<key>specified_string</key>
			<string>#Horizon</string>
			<key>duration</key>
			<string>JAN.2.2014</string>
			<key>image_url</key>
			<string>https://drive.google.com/uc?export=download&amp;id=0B-ajzdpY-rUGdENISXlsc2ZDaXM</string>
			<key>title</key>
			<string>Sunsets Scene</string>
		</dict>
		<dict>
			<key>specified_string</key>
			<string>#MLB</string>
			<key>duration</key>
			<string>JAN.2.2016 - DEC.4.2016</string>
			<key>image_url</key>
			<string>https://drive.google.com/uc?export=download&amp;id=0B-ajzdpY-rUGZzNwUHVTejlfX1E</string>
			<key>title</key>
			<string>Final Game</string>
		</dict>
	</array>
</dict>
</plist>
